@model List<MessageViewModel>

<div class="container-fluid">
    <div id="chatBox" class="container-fluid tab-content" style="width:contain; max-height:300px; overflow:auto">
        @foreach (var user in Model)
        {
            <div class="container-fluid, border-dark shadow-lg rounded" style="border-block:solid; margin-block:4px;" >
                <div class="row container-fluid border-bottom">
                    <div class="col">
                        <a class="text-dark" style="text-shadow: 4px; text-decoration:none" href="/Profiles/Info?username=@user.SenderUsername">
                            @user.SenderUsername
                        </a>
                    </div>
                    <div class="col-sm-auto">
                        <p class="text-secondary">
                            @user.Date
                        </p>
                    </div>
                </div>
                <p class="text-primary" style="background-color:beige">
                    @user.Text
                </p>
            </div>
        }
    </div>
    <div>
        <form class="form-control-plaintext">
            <input class="form-control" type="text" name="Message" id="messageInput" value="" />
            <input class="btn btn-success" type="button" name="Send" id="sendMessageButton" value="Send" />
        </form>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            scrollCommentsToBottom();
        })

        function scrollCommentsToBottom() {
            var scroll = document.getElementById('chatBox');
            scroll.scrollTop = scroll.scrollHeight;
            scroll.animate({ scrollTop: scroll.scrollHeight }, 500);
        }
    </script>

}